# Django Settings
SECRET_KEY=django-insecure-replace-this-in-production
DEBUG=True

# Database Settings (Matches our Docker-Compose setup)
DB_NAME=solarlink_db
DB_USER=azore_admin
DB_PASSWORD=your_secure_password_here
DB_HOST=db
DB_PORT=5432